<mat-toolbar class="nav-bar">
    <span class="fw-bolder">ARLC</span>
    <span class="example-spacer"></span>
    <div class="example-button-container">
        <button mat-button extended>Inicio</button>
    </div>
    <div class="example-button-container">
        <button mat-button>Catálogo</button>
    </div>
    <div class="example-button-container">
        <button mat-button (click)="openAuthDialog('login')">
            <mat-icon class="material-symbols-outlined">person</mat-icon>
            Iniciar Sesión
        </button>
    </div>
    <div class="example-button-container">
        <button mat-stroked-button (click)="openAuthDialog('register')">Registrar</button>
    </div>
</mat-toolbar>