<section>
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container example-label">
                <button mat-fab extended disabled class="custom">
                    Suv
                    <mat-icon class="custom-icon">
                        <img src="svg/suv.svg" alt="Icono" class="svg-icon">
                    </mat-icon>

                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab extended disabled class="custom">
                    Sedan
                    <mat-icon class="custom-icon">
                        <img src="svg/sedan.svg" alt="Icono" class="svg-icon">
                    </mat-icon>

                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab extended disabled class="custom">
                    Hatchback
                    <mat-icon class="custom-icon">
                        <img src="svg/hatchback.svg" alt="Icono" class="svg-icon">
                    </mat-icon>

                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab extended disabled class="custom">
                    Coupe
                    <mat-icon class="custom-icon">
                        <img src="svg/coupe.svg" alt="Icono" class="svg-icon">
                    </mat-icon>

                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab extended disabled class="custom">
                    Hybrid
                    <mat-icon class="custom-icon">
                        <img src="svg/hybrid.svg" alt="Icono" class="svg-icon">
                    </mat-icon>

                </button>
            </div>
        </div>
    </div>
</section>