<body>
    <app-navbar></app-navbar>



    <div class="hero-section">
        <!-- <img src="/home/slider1.jpg" alt="Fondo" class="hero-image"> -->
        <img src="/home/slider1.jpg" class="img-fluid hero-image" alt="Responsive image">
        <div class="hero-overlay">
            <h1>Todos los Vehículos</h1>
            <div class="container m-4">
                <app-icons-cars></app-icons-cars>
            </div>
        </div>
    </div>

    <div class="container-fluid rounded-top bg-white">
        <div class="container p-4 ">
            <span class="fs-2 fw-bold">Explora nuestras marcas premium</span>

            <div class="container py-4">
                <app-cards-brands></app-cards-brands>
            </div>

            <div class="container">
                <app-cards-cars></app-cards-cars>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-0" style="background-color:#FFE7E7;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body m-4">

                        <div class="col-6">
                            <p class="card-text fw-bold fs-4">¿Estás buscando un coche?</p>
                            <p class="card-text">Nos comprometemos a brindarles a nuestros clientes un servicio
                                excepcional</p>

                            <!-- <a name="" id="" class="btn btn-primary btn-lg" href="#" role="button">Empezar</a> -->
                        </div>

                        <div class="col-6">
                            <img src="svg/electric-car.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0" style="background-color:#E9EAFF;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body m-4">

                        <div class="col-6">
                            <p class="card-text fw-bold fs-4">¿Quieres vender un coche?</p>
                            <p class="card-text">Nos comprometemos a brindarles a nuestros clientes un servicio
                                excepcional</p>
                            <p class="card-text">Contáctanos 0979587732</p>

                            <div class="col-6">
                                <img src="svg/electric-car2.svg" alt="">
                            </div>
                            <!-- <a name="" id="" class="btn btn-primary btn-lg" href="#" role="button">Empezar</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-0 me-5" style="background-color:#ffffff;">
                    <p class="card-text fw-bold fs-3">Somos GRANDES <br>en lo que a usted le <br>importa</p>
                </div>
            </div>
            <div class="col-md-6">

                <div class="row">

                    <div class="col-6 mb-3">
                        <div class="p-1 bg-light">
                            <img src="svg/f1.svg" alt="">
                            <span style="font-weight: 500; font-size: 16px;">Ofertas especiales de
                                financiación</span> <br>
                            <span style="font-size: 13px;">Nuestro departamento de finanzas puede encontrar
                                soluciones
                                financieras.</span>
                        </div>
                    </div>

                    <div class=" col-6 mb-3">
                        <div class="p-1 bg-light">
                            <img src="svg/f2.svg" alt="">
                            <span style="font-weight: 500; font-size: 16px;">Concesionario de coches de confianza</span>
                            <br>
                            <span style="font-size: 13px;">Tu concesionario de coches de confianza, con calidad y
                                garantía.</span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 mb-3">
                        <div class="p-1 bg-light">
                            <img src="svg/f3.svg" alt="">
                            <span style="font-weight: 500; font-size: 16px;">Precios transparentes</span> <br>
                            <span style="font-size: 13px;">Precios transparentes, sin sorpresas ni costes
                                ocultos.</span>
                        </div>
                    </div>

                    <div class="col-6 mb-3">
                        <div class="p-1 bg-light">
                            <img src="svg/f4.svg" alt="">
                            <span style="font-weight: 500; font-size: 16px;">Servicio de coche experto</span> <br>
                            <span style="font-size: 13px;">Servicio de coche experto, rápido y de confianza</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>