<body>
    <app-navbar></app-navbar>

    <div class="hero-section">
        <img src="/home/slider1.jpg" alt="Fondo" class="hero-image">
        <div class="hero-overlay">
            <h1>Todos los Vehículos</h1>
            <div class="div">
                <app-icons-cars></app-icons-cars>
            </div>
        </div>
    </div>

    <div class="div">

        Explora nuestras marcas premium

        <div class="div">

        </div>

        <div class="cards-section">

        </div>
    </div>
</body>